$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$secondary-color: #666;
$border-color: #999;

$button-color: #0078e7;

$break-small: 480px;
$break-medium: 768px;
$break-large: 992px;
$break-extra-large: 1200px;

$size-full: 90%;
$size-half: ($size-full / 2);
$size-third: ($size-full / 3);
$size-quarter: ($size-full / 4);

$margin: 5%;

@mixin component-sizing() {
  width: 100%;
  float: left;

  margin: ($margin / 3);

  @media screen and (min-width: $break-medium) {
    width: $size-half;
  }

  @media screen and (min-width: $break-extra-large) {
    width: $size-third;
  }
}

body {
  font: 100% $font-stack;
  color: $primary-color;
}

.subtitle {
  color: $secondary-color;
}

a {
  color: $button-color;
}

.container {
  padding: 0 5%;

  @media screen and (min-width: $break-medium) {
    padding: 0 10%;
  }

  @media screen and (min-width: $break-extra-large) {
    padding: 0 240px;
  }
}

.card {
  border: 1px solid $border-color;
  background-color: #FFF;
  box-sizing: border-box;
  -webkit-box-shadow: 2px 3px 16px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 3px 16px -4px rgba(0,0,0,0.75);
  box-shadow: 2px 3px 16px -4px rgba(0,0,0,0.75);

  padding: 16px;
}

.info {
  margin: 120px 0;
  text-align: center;
}

.loan-options {
  @include component-sizing();
}

.loan-form {
  @include component-sizing();

  input[type=text] {
    margin: 6px 0 12px;
    width: 100%;
    padding: 5px 2px;
    font-size: 16px;
    line-height: 20px;
    border: 1px solid $border-color;
  }
}

.loan-recent {
  @include component-sizing();
}

.loan-computed {
  @include component-sizing();
}

.loan-chart {
  float: left;
  margin: $margin / 3;
  width: 100%;

  @media screen and (min-width: $break-extra-large) {
    width: ($size-third * 2 + ($margin / 1.5));
  }
}

.btn {
  background-color: $button-color;
  color: #fff;
  padding: .5em 1em;
  border: transparent;
  text-decoration: none;
  border-radius: 2px;
  cursor: pointer;

  -webkit-transition: background-color .5s;
  transition: background-color .5s;

  &:hover {
    background-color: darken($button-color, 10%);
  }
}